body {
    display: flex;
    flex-flow: column;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

.header {
    padding: 10px 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
}

a {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

.header-links {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 100px 170px;
    gap: 40px;
}

.img-hero {
    display: flex;
    max-height: 300px;
    align-items: center;
    justify-content: center;
    color: white;
}

.hero-left {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    gap: 10px;
    align-items: flex-start;
}

.hero-text-main {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.hero-text-second {
    color: #E5E7EB;
    font-size: 18px;
}

.information {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 70px;
}

.info-title {
    font-size: 36px;
    font-weight: bold;
    margin: 20px;
}

.square {
    border: 4px solid #3882F6;
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

.tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 10px 170px;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 100px 170px;
}

.author {
    align-self: flex-end;
}

.action {
    margin: 40px 170px;
    padding: 30px 150px;
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-title {
    font-size: 24px;
}

.action-text {
    font-size: 18px;
}

button {
    border-color: white;
    background-color: #3882F6;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    flex-shrink: 0;
}

.footer {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

li {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 5px;
}

.tiles li {
    width: 150px;
}

.tiles-text {
    text-align: center;
}